*{
    font-family: 'Courier New', Courier, monospace;
}

:root{
    --main-dark-color: ;
    --main-light-color: ;
}
h1{
   font-size: 40px;
   position:absolute;
   display: inline; 
   color: aliceblue;
   background-color: black;
   top: 15%;
  padding: 5px 10px 5px 30px;
 }

 .header{
   position: relative;
   background-color:rgb(0, 128, 107);
   height: 70px;
 }

 .links{
    display:inline-flex;
    bottom:0;
    right:0;
    float: right;
    margin-bottom: 0%;
 }

 a:link, a:visited {
    background-color:rgb(0, 128, 107);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color:black;
  }
 .subhead{
    width: 100%;
    background-color:rgb(0, 128, 107);
    height: 100px;
 }

 body figure h2{
    text-align: right;
    font-size: 30px;
    position:relative;
    top: 40%;
 }

.partition-box{
    display:inline-flex;
    width: 16%;
    background-color:white;
    height: 100%;
}

h3{
   font-size: 35px;
   justify-content: center ;

}

#partition-title{
   text-align: center;
   min-width: 15%;
   padding: 20px; 
}

 .partitions{
    align-items: center;
    display: inline-flex;
    width: 68%;
    background-color:white;
    height: 250px;
    border-left: 5px solid rgb(0, 128, 107);
 }

#work-heading{
   display:inline-flex;
   width: 16%;
   background-color:white;
   height: 100%;
}

 .work-partition{
   align-items: center;
   display: inline-flex;
   width: 68%;
   background-color:white;
   border-left: 5px solid rgb(0, 128, 107);
   height: 450px;
 }

 .partition-contactme{
    display: inline-flex;
    width: 68%;
    height: 150px;
    border-left: 5px solid rgb(0, 128, 107);
    justify-content:center;
    align-items:stretch;
 }

 h3{
     background-color: white;
     size: 30px;
     color:rgb(0, 128, 107)
 }

 .big-box{
    flex-grow: inherit;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 200px;

 }

 .small-box{
    flex-grow: inherit;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 48%;
    height: 100px;
 }

@media screen and (max-width: 880px) {

}

img {
    position: relative;
    height:  15vw;
    width: 68%;
}